<md-card>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>{{dog.breed}}</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="dog.src">
  <md-card-content>
    <p class="dog-description">
      {{dog.description}}
    </p>
    <div>
      <md-icon>thumb_up</md-icon>
      {{dog.likes}}
    </div>
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-raised-button (click)="likeDog(dog.id)">LIKE</button>
    <button color="accent" md-raised-button (click)="unlikeDog(dog.id)" [disabled]="dog.likes === 0">UNLIKE</button>
  </md-card-actions>
</md-card>